@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

:root {
  --color1: rgb(31, 28, 30);
  --color2: rgb(241, 239, 240);
  --color3: rgb(60, 74, 252);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color2);
}

body {
  background: var(--color1);
  font-family: "Inter", sans-serif;
  height: 100vh;
}
/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

nav li {
  list-style: none;
}

ul {
  display: flex;
  width: 50%;
  justify-content: space-around;
}

/* Header Bloc */

.header {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.header-left {
  display: flex;
  width: 50%;
  padding: 10px;
}

.header-left-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding-right: 10px;
}

h1 {
  font-size: 3.5rem;
}

.header-left-container h3 {
  color: var(--color3);
  font-size: 1.5rem;
  margin: 10px 0;
}

p {
  font-size: 0.9rem;
}
.header-right {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
img {
  height: 570px;
}

.infos {
  display: flex;
  background: black;
  margin: 8px;
  border-radius: 6px;
  padding: 15px;
}

.infos h3 {
  font-size: 0.9rem;
  margin-bottom: 10px;
}

.infos-left {
  width: 30%;
  display: flex;
  flex-direction: column;
}

.infos-left button {
  background: var(--color3);
  display: block;
  padding: 6px;
  margin: 6px;
  width: 35%;
  border: none;
  border-radius: 6px;
}

/* .info-right {
  display: flex;
} */

.img-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 25px;
}
.img-container img {
  width: 10%;
  height: 10%;
}
